<div class="container">
  <div class="devise-form">
    <h2>Resend confirm</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-field">
        <%= f.label :email, class: "form-label devise" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Resend" %>
      </div>
    <% end %>
    <div class="links">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
