
<%= render "layouts/header" %>

<div class="content-body container">
  <div class="column all-table-column">
    <div class="title-block">
      <div class="menu-title">Меню</div>
    </div>
    <div class="menu-list">

      <div class="container">
        <% @dinners.each do |dinner| %>
          <div class="row dinner-item">
            <div class="col-3 menu-item-name"><%= dinner.name %></div>
            <div class="col-2"><span class="menu-item-price"><%= dinner.price %> </span><span> грн</span> </div>
<!--            <button type="button" class="col-2 btn btn-light dinner-details main-color">Редагувати</button>-->
            <button type="button" class="col-2 btn btn-light dinner-details main-color delete-dinner" id="<%= dinner.id %>">Видалити</button>
          </div>
        <% end %>
      </div>
    </div>


    <!--      <button type="button" class="btn btn-light dinner-details new-dinner"><%#=link_to "Нова страва", new_menu_path  if can?(:create, @dinner)%></button>-->

    <button type="button" class="btn btn-light dinner-details new-dinner new-dinner-button main-color-border"><%=link_to "Нова страва", new_menu_path if can?(:create, @dinner) %></button>
  </div>
</div>
