<%= render "layouts/header" %>
<div class="content-body container">
  <h2>Нова страва</h2>

  <%= form_for :dinner, url: menus_path do |f| %>
   <p>
     Назва <br> <%= f.text_field(:name, {:class => 'form-control'}) %>
   </p>
    <p>
      Ціна <br> <%= f.text_field(:price, {:class => 'form-control'}) %>
    </p>
<!--    <p>-->
<!--      Наявність <br> <%#= f.text_field( :availability, {:class => 'form-control'} ) %>-->
<!--    </p>-->
    <p>
      <%= f.submit({:class => 'form-control main-color'}) %>
    </p>

  <% end %>
</div>
