
<div class="container">

  <div class="devise-form">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-field">
        <%= f.label :name, class: "form-label devise" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="form-field">
        <%= f.label :surname, class: "form-label devise" %>
        <%= f.text_field :surname, autofocus: true, autocomplete: "surname" %>
      </div>

      <div class="form-field">
        <%= f.label :email, class: "form-label devise" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-field">
        <%= f.label :password, class: "form-label devise" %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="form-field">
        <%= f.label :password_confirmation, class: "form-label devise" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>

</div>
