<div class="container">
  <%= form_tag("/visitors", method: "post", :class=>"visitor-form") do %>
    <div class="form-field">
      <span class="form-label">Ім'я:</span>
      <%= text_field_tag(:nickname, nil, class: "form-control") %>
    </div>
    <div class="form-field">
      <span class="form-label">Код столику:</span>
      <%= text_field_tag(:table_hash, nil, class: "form-control") %>
    </div>
    <%= submit_tag("Увійти", :class=>"btn btn-light main-color visitor-sign-in-button") %>
  <% end %>
</div>
