
<%= render "layouts/header" %>

<div class="content-body container">
  <div class="row">
    <div class="column col-12 all-table-column">
      <div class="title-block">
          <div class="menu-title">Столики </div>
      </div>
      <div class="table-list">
        <% @tables.each do |table| %>
          <div class="table-item">
            <%#= link_to  "столик", table_path (table), method: :get %>
              <a href="/table/<%= table.id %>" class="table-link" id=<%= table.id %>>Столик <%= table.name %></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
