
<%= render "layouts/header" %>

<div class="content-body container">
  <div class="row">
    <div class="column col-3 table-column">
      <div class="title-block">
        <div class="menu-title">Столики </div>
      </div>
      <div class="table-list">
        <% @tables.each do |table| %>
          <div class="table-item <% if @current_table.id == table.id %>active-table<% end %>">
            <%#= link_to  "столик", table_path (table), method: :get %>
            <a href="/table/<%= table.id %>" class="table-link" id=<%= table.id %>>Столик <%= table.name %></a>
          </div>
        <% end %>
      </div>
    </div>

    <div class="column col-8 order-waiters-column">
      <div class="title-block">
        <div class="order-title">Замовлення</div>
      </div>
      <div class="order-list">
        <div class="container container-order-list">
          <% unless @orders.any? %>
          Від цього столика нема активних замовлень
          <%  end %>
          <% @orders.each do |order| %>
            <div class="row order-item">
              <div class="col-2 menu-item-count"><%= order.count %>x </div>
              <div class="col-6 menu-item-name"><%= order.dinner.name %></div>
              <div class="col-2 menu-item-count">для <%= order.visitor.nickname %> </div>
              <div class="col-2 small-button menu-item-button">
                <button type="button" class="btn btn-light cancel-menu-item confirm-order-menu-item" id=<%= order.id %>>v<i class="fas fa-band-aid"></i></button>
              </div>
            </div>
          <% end %>

        </div>
        <% if @orders.any? %>
        <button type="button" class="btn btn-light close-table-button" id="<%= @current_table.id %> ">Розрахувати столик</button>
          <% end %>
      </div>
    </div>
  </div>
</div>
