<div class="content-body container">
    <div class="row">
    <div class="column col-lg menu-column">
      <div class="title-block container">
        <div class="row">
          <div class="menu-title col-8">Меню </div>
          <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-light get-receipt col-4" >Отримати рахунок</button>
        </div>
      </div>
      <div class="container">
      <% @menu.each do |menu| %>
          <div class="row menu-item">
            <div class="col-7 menu-item-name"><%= menu.name %></div>
            <div class="col-3"><span class="menu-item-price"><%= menu.price %> </span><span> грн</span> </div>
            <div class="col-2 small-button">
              <button type="button" class="btn btn-light add-order-item-button" id=<%= menu.id %>>+</button>
            </div>
          </div>
      <% end %>
      </div>
    </div>


    <div class="column col-lg order-column">
      <div class="title-block">
        <div class="order-title">Замовлення <%= @visitor.nickname %></div>
      </div>
      <div class="row ordered-menu-item" style="display: none">
        <div class="col-2 menu-item-count"></div>
        <div class="col-5 menu-item-name"></div>
        <div class="col-3 menu-item-price"></div>
        <div class="col-2 menu-item-button small-button">
          <button type="button" class="btn btn-light minus-order-item-button" id="">-</button>
        </div>
      </div>
      <div class="order-list">
        <div class="container item-for-order" id="visitor-order-list">

        </div>
        <button type="button" class="btn btn-light make-order-button" id="make-order" style="display: none">Замовити</button>
    </div>
    </div>
  </div>
</div>
