<div class="container">

  <div class="devise-form">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-field">
        <%= f.label :email, class: "form-label devise" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-field">
        <%= f.label :password, class: "form-label devise" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>
</div>
