/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
$main_color: #6D003B;
$second_color: white;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "orders";
@import "menus";
@import "waiter";
@import "visitors";



html, body{
  height: 100%;
  margin: 0;
}

.devise-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15%;
  left: 40%;
  width: 300px;
}

.devise-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-field + .form-field {
  margin-top: 5px;
}

.form-label {
  margin: 4px;
  width: 50px;
  float: left;
}

.devise {
  margin-right: 50px;
}

.btn-submit {
  width: 100%;
  background: $main_color;
  color: $second_color;
  margin-top: 5px;
}

.actions {
  margin-top: 25px;
  float: right;
  margin-right: 15px;
}

.actions input {
  display: block;
  background: $main_color;
  color: $second_color;
}

.actions a {
  float: right;
}

.links {
  margin-top: 9px;
  float: right;
  text-align: right;
  margin-right: 12px;
}

.email {
  text-align: center;
  padding: 10px;
}
