// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.dinner-details{
  display: inline-block;
  margin-right: 5px;
}

.dinner-item{
  margin-bottom: 3px;
}

.main-color{
  background: $main_color;
  color: $second_color;
}

.main-color-border{
  border: 1px solid $main_color;
}

.new-dinner-button{
  width: 200px;
  margin-top: 50px;
}