// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$title_text_size: 28px;
$main_color: #6D003B;
$second_color: white;

.header{
  background: $main_color;
  height: 60px;
  width: 100%;
}

.content-body{
  height: 100%;
  .row{
    height: 100%;
  }
}

.column{
  padding-bottom: 50px;
  padding-top: 50px;
}

.title-block{
  margin-bottom: 35px;
  vertical-align: middle;

  .menu-title{
    display: inline;
    font-size: $title_text_size;

  }
  .get-receipt{
    display: inline;
    background: $main_color;
    color: $second_color;
    position: absolute;
    right: 15px;
  }
}

.order-column{
  background: $main_color;
  color: $second_color;
}

.order-title{
  font-size: $title_text_size;
  border-bottom: 1px solid $second_color;
}

.ordered-menu-item{
  margin-top: 10px;
  vertical-align: middle;
}

.add-order-item-button{
  border-radius: 50%;
  width: 38px;
  background: $main_color;
  color: $second_color;
}

.cancel-menu-item{
  border-radius: 50%;
  width: 38px;
  vertical-align: middle;
  background: $second_color;
  color: $main_color;
}

.small-button{
  text-align: right;
}

.order-list{
  height: 100%;
  position: relative;
}

.make-order-button{
  margin-top: 30px;
  width: 100%;

}