// Place all the styles related to the visitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.visitor-form {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  position: absolute;
  top: 20%;
  left: 40%;
}

.visitor-sign-in-button{
  margin-top: 15px;
}
