// Place all the styles related to the Waiter controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

$title_text_size: 28px;

.table-column{
  border-right: 1px solid $main_color;
}

.active-table{
  font-weight: bold;
}

.table-link{
  color: #2E2F30;
}

.table-item{
  margin-top: 10px;
  vertical-align: middle;
}

.order-waiters-column{
  margin-left: 30px;
}


.cancel-menu-item{
  background: $main_color;
  color: $second_color;
}

.close-table-button{
  margin-top: 50px;
  border: 1px solid $main_color;
  width: 100%;
}
