<div class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 text-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <!--    <div class="p-2 text-white"><%#= current_user.email %></div>-->
    <a class="btn btn-outline-light text-black"  href='/menus'>Меню</a>
    <a class="btn btn-outline-light text-black" href='/table'>Столики</a>
    <div class="btn btn-outline-light text-black">
      <%= link_to('Вихід', destroy_user_session_path, method: :delete) %>
    </div>
  </nav>
</div>
