<!DOCTYPE html>
<html>
  <head>
    <title>SplitTheBills</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <div id="notice-menu" class="alert-success email">
      <%= notice %>
      <%= alert %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= javascript_include_tag "jquery-3.5.0.min.js"%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <script type="text/javascript">
      if($('#notice-menu').text().trim().length == 0) {
         $('#notice-menu').hide();
      }
  </script>
</html>
